.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font: var(--inter), sans-serif;
  font-variation-settings: "wght" var(--main-text-weight);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image:
    repeating-linear-gradient(
      to right,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 50%, #1a1a1a);
  background-attachment: fixed;
  background-size:
    4px 100%,
    100% 4px,
    cover;
}

.narrow {
  width: 100%;
}

.header {
  font-family: var(--press-start-2p), sans-serif;
  margin: 100px 0;
  height: clamp(327px, calc(233.666px + 13.993vw), 368px);
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  background-color: white;
}

.header__title {
  font-size: clamp(49px, calc(12.577px + 5.461vw), 65px);
}

.header__subtitle {
  font-size: clamp(14px, calc(-6.488px + 3.072vw), 23px);
  text-transform: uppercase;
}

.cards {
  font-family: var(--inter);
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-items: space-between;
  gap: 51px;
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  background-color: #FFFFFF;
}

.card__image {
  width: 100%;
}

.card__title {
  font-variation-settings: "wght" var(--title-weight);
  font-size: 18px;
  padding: 5px 10px;
}

.card__description {
  font-size: 18px;
  font-variation-settings: "wght" var(--main-text-weight);
  padding: 24px 26px 0;
  line-height: 21px;
}

.second {
  padding: 26px 26px 0;
}

.card__like {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  gap: 5px;
}

.card__like-button {
  height: 38px;
  width: 130px;
  margin: 25px 25px 25px 0;
}

.card__icon-button {
  all: unset;
  height: 36px;
  width: 39px;
  border: 2px solid transparent;
}

.card__image-label {
  position: absolute;
  top: 25px;
  right: 10px;
  z-index: 1;
  color: black;
  font-family: var(--press-start-2p);
  font-size: 14px;
  mix-blend-mode: hard-light;
}

.card__label-wrapper {
  position: relative;
}

.text-stroke {
  text-shadow:
    -1px 0 #FFFFFF, 
    0 1px #FFFFFF, 
    1px 0 #FFFFFF, 
    0 -1px #FFFFFF;
}

@supports((text-stroke: 1px #000000) or (-webkit-text-stroke: 1px #000000)) {
  .text-stroke {
    -webkit-text-stroke: 1px #FFFFFF;
    text-stroke: 1px #FFFFFF;
    text-shadow: none;
  }
}

.save-button {
  all: unset;
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin-top: 50px;
  margin-bottom: 100px;
  width: clamp(306px, calc(295.789px + 2.723vw), 335px);
  padding: 8px 0 18px;
  align-items: center;
  background-color: #FFFFFF;
  gap: 2px;
}

.none {
  display: none;
}

.dialog__text {
  font-family: var(--press-start-2p);
  font-size: 14px;
  grid-area: text;
  display: block;
  text-transform: uppercase;
  line-height: 150%;
}

.dialog__icon {
  width: 39px;
  height: 39px;
  grid-area: icon;
  align-self: center;
  mix-blend-mode: difference;
}

.dialog__button {
  all: unset;
  grid-area: button;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  width: 100%;
  margin-top: 30px;
}

.dialog {
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  grid-template-areas: 'icon text' 'button button';
  grid-template-columns: 60px 1fr;
  align-items: center;
  padding: 30px 35px;
  width: clamp(341px, calc(336.775px + 1.127vw), 353px);
}

.dialog:open {
  display: grid;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 1);
  opacity: 75%;
}

.image-2 {
  filter: saturate(20%);
}

.image-3 {
  filter: saturate(300%) brightness(50%);
}

.image-4 {
  filter: grayscale(40%) hue-rotate(-90deg);
}

.image-5 {
  filter: invert(80%);
}

.image-6 {
  filter: sepia(80%);
}

.image-7 {
  filter: blur(1rem);
}

.image-8 {
  filter: hue-rotate(90deg) blur(0.1rem) contrast(60%);
}

.text-button {
  border: 2px solid black;
  position: relative;
  background-color: #FFFFFF;
}

.button__text {
  position: relative;
  font-family: var(--press-start-2p);
  font-size: 14px;
  z-index: 2;
  color: white;
  mix-blend-mode: difference;
}

.text-button:focus {
  outline: none;
  box-shadow:
    2px
    2px
    0px
    0px
    rgb(0, 0, 0);
  transition: 0.3s ease;
}

.text-button::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.text-button:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.save-button__icon {
  position: relative;
  width: 50px;
  height: 40px;
  align-self: center;
  justify-self: center;
  mix-blend-mode: difference;
  z-index: 2;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid black;
  transition: 0.3s ease;
}

@media (width >= 376px) {
  .cards {
    gap: 50px;
  }

  .narrow {
    width: clamp(375px, calc(260.15px + 30.545vw), 700px);
  }

  .card__image-label {
    right: 25px;
  }

  .save-button {
    flex-direction: row;
    align-items: center;
    padding: 7px 0;
    gap: 0;
  }

  .save-button__icon {
    scale: 0.75;
  }

  .second {
    padding: 27px 26px 0;
  }
}